.ad--300x50,
.ad--300x250,
.ad--300x600 {
  width: 300px;
}

.ad--300x50 {
  height: 50px;
}

.ad--300x250{
  height: 250px;
}

.ad--300x600 {
  height: 600px;
}

.ad--728x90 {
  width: 728px;
  height: 90px;
}
