// viewport breakpoints
$screen-extra-small: 480px;
$screen-small: 767px;
$screen-medium: 992px;
$screen-large: 1200px;
$screen-ad-min: 1231px;


// colours
$brandPrimary: #00afec;

$lightText: #fff;
$lightBg: #fff;
